/*reglas generales*/

/*Media Query*/

/** Reescribir colores */

/** * {
  border: solid 1px red;  Esta linea es solo para pruebas y debe eliminarse despues 
} */


img {
    max-width: 100%;
    height: auto;
    display: block;
}

.raleway-Font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.playfair-Font {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1,
h2 {
    color: #000000;
    font-size: 3rem;
    text-align: center;
    /*background-color: blueviolet;*/
}

span.title {
    color: #037bc0;
}



/*Navbar Configuration*/

nav ul {
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

li{
    border-color: aqua;
    border: solid red 1px; /* Esta linea es solo para pruebas y debe eliminarse despues */
    width: 20rem;
}
